/*INICIO RODAPE!!*/

footer .rodape {
    width: 100%;
    background-color: #171717;
    border-top: 0.5px solid #323232;
    padding: 57px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}


footer .conteudo_rodape img {
    width: 171px;
    margin-bottom: 36px;
}

footer .conteudo_rodape p {
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope,Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

footer .conteudo_rodape input {
    display: flex;
    padding: 14px 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 0.5px solid #323232;
    background: #121212;
    margin-bottom: 23px;
    width: 26.25rem;
    max-width: 100%;
}

input[type="email"] {
    color: rgba(255, 255, 255, 0.40);
    font-family: Manrope, Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.info_rodape button {
    padding: 6px 12px;
    border: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Sunset-Orange-500, #F25C54);
    /*Escrita de dentro*/
    color: #F2F2F2;
    font-family: Inter, Arial, Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
}

.info_rodape button:hover {
    background: #323232;
    border-color: #1E1E1E;
    transition: all ease;
}

/*formatações listas*/

footer .container_lista {
    display: flex;
    flex-direction: row;
    gap: 76px;
}

.lista1,
.lista2,
.lista3 {
    display: flex;
    width: 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.lista1 h3,
.lista2 h3,
.lista3 h3 {
    color: #FFF;
    font-family: Manrope, Arial, Verdana, Tahoma, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}

.lista1 ul,
.lista2 ul,
.lista3 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.lista1 li a,
.lista2 li a,
.lista3 li a {
    align-self: stretch;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter, Arial, Verdana, Tahoma, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    text-decoration: none;
}

.lista1 li a:hover,
.lista2 li a:hover,
.lista3 li a:hover {
    color: white;
    transition: all 0.2s ease;
}

/*formatações listas - FIMM!*/

/*FIM RODAPE!!!*/